body {
  margin: 0;
  color:#F2F2F2;
  font-family: 'Montserrat', sans-serif;
}

nav {
	margin-left: 32px;
    margin-top: 20px;
}

.h1, h1 {
    font-size: 3.5rem;
    margin-left: 10px;
    margin-bottom: .3em;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
}

.homepage > section.container-fluid,
.homepage > section.container {
  width: 100vw;
  height: 100vh;
  padding-top: 56px;
}

.demo-2-bg {
  background-color: #373C40; /* fallback if background image fails */
  background-repeat: no-repeat;
  background-image: url('../images/egypt-bus.jpg');
  background-position: center;
  background-size: cover;
  filter: blur(8px);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.nav-tabs .nav-link.active {
    color: #373C40;
    background-color: #A2D4F2;
    border-color: #373C40;
}

a {
    color: #A2D4F2;
    text-decoration: none;
    background-color: transparent;
}

.btn-outline-primary {
	color: #A2D4F2;
	border-color: #A2D4F2;
}

.form-control{
	width: 100%;
	color: #373C40;
    background-color: #F2F2F2;
}

.col-8{
	height: 745px;
}

.display-3, .display-4{
	font-weight:600;
}