<!DOCTYPE html>
<html>
<head>
	<script
	  src="https://code.jquery.com/jquery-3.4.1.js"
	  integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
	  crossorigin="anonymous"></script>

	 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<title>Roam</title>
	{% block head %}{% endblock %}
	{% block maphead %}{% endblock %}
</head>
<body>
	{# navbar goes here #}
	{% block nav %}{% endblock %}

	{# sidebar goes here #}
	{% block side %} {% endblock %}

	{% with messages = get_flashed_messages() %}
		{% if messages %}
			<ul class=flashes>
			{% for message in messages %}
				<li>{{ message }}</li>
			{% endfor%}
			</ul>
		{% endif %}
	{% endwith %}

	{# Title  #}
	<h1>Roam</h1>

	{% block routeinfo %}{% endblock %}

	
	{% block content %}{% endblock %}

	{% block map %}{% endblock %}

	{% block scripts %}{% endblock %}

	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

</body>
</html>