<!DOCTYPE html>
<html>
<head>
	<title>Roam</title>
	<!-- account for message flashing: probably when successfully logged in/registered -->
	<!-- TODO: TEST FLASHED MESSAGES! -->
		
</head>
<body>
	{# navbar goes here #}
	{% block nav %}{% endblock %}

	{% with messages = get_flashed_messages() %}
		{% if messages %}
			<ul class=flashes>
			{% for message in messages %}
				<li>{{ message }}</li>
			{% endfor%}
			</ul>
		{% endif %}
	{% endwith %}

	{% block content %} CONTENT {% endblock %}
</body>
</html>