<!DOCTYPE html>
<html>
<head>
	<script
	  src="https://code.jquery.com/jquery-3.4.1.js"
	  integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
	  crossorigin="anonymous"></script>
	<title>Roam</title>
	{% block head %}{% endblock %}
	{% block maphead %}{% endblock %}
</head>
<body>
	{# navbar goes here #}
	{% block nav %}{% endblock %}

	{# sidebar goes here #}
	{% block side %} {% endblock %}

	{% with messages = get_flashed_messages() %}
		{% if messages %}
			<ul class=flashes>
			{% for message in messages %}
				<li>{{ message }}</li>
			{% endfor%}
			</ul>
		{% endif %}
	{% endwith %}

	{% block map %}{% endblock %}

	{% block content %}{% endblock %}
</body>
</html>