{% extends "base.html" %}

{# Loading Google Maps API #}
{% block head %}
	{# connecting to homepage.css #}
	<link rel="stylesheet" href="/static/css/homepage.css"/>
	{# connecting to homepage.js #}
	<script src="/static/js/homepage.js"></script>
	{# initializing map and added places library#}
	<script
		async defer
		src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB8cOt4MhRxcvoSKJC7M0XaXCvYFPyhCMQ&libraries=places&callback=initMap">
	</script>
{% endblock %}

{# navbar! Includes registration and login button #}
{% block nav %}
	<nav>
		<a href="/registration_page">
			<button>Register</button>
		</a>

		<a href="/login_page">
			<button>Login</button>
		</a>
	</nav>
{% endblock %}

{% block content %}

{# Title  #}
<h1>Roam</h1>

{# Search bar for address #}
{# will float on top of map #}
<section id="search-form">
	<form class="search" action="/search">
		{# start location #}
		<input id="pac-input" class="controls" type="text" placeholder="Search start">
		{# end location #}
{# 		<input id="end" class="controls" type="text" placeholder="Search end"> #}
		<select id="mode">
			<option value="driving">Driving</option>
			<option value="walking">Walking</option>
			<option value="bicycling">Bicycling</option>
			<option value="transit">Public Transportation</option>
		<input type="submit">
	</form>
</section>

{# will render map #}
<section id="map">
	<div class="map"></div>
</section>


{% endblock %}