{% extends 'base.html' %}

{# navbar! Includes registration and login button #}
{% block nav %}
	<nav>
		<a href="/registration_page">
			<button>Register</button>
		</a>

		<a href="/login_page">
			<button>Login</button>
		</a>
	</nav>
{% endblock %}

{% block content %}

{# <!-- Title  --> #}
<h1>Roam</h1>

{# <!-- Search bar for address --> #}
{# will float on top of map #}
<section id="search-form">
	<form class='search' action='/search'>
		<input type='text' placeholder='Search address'>
		<input type='submit'>
	</form>
</section>

{# will render map #}
<section id="map">
	<div class="map"></div>
</section>


{% endblock %}