{% extends "map_base.html" %}

{% block head %}
	{# connecting to map css #}
	<link rel="stylesheet" href="/static/css/map.css"/>
{% endblock %}

{% block side %}

<div class="sidebar">
	Welcome!
{# TODO: link user info! #}
  <a href="/user-info">User Info</a>
  <a href="/users-routes">Routes</a>
  <a href="/log-out">Log Out</a>
</div>

<ul>
	{% for route in routes %}
		<li>
			{# setting data to route-id and passing it when clicked #}
			<a class="route" data-route-id="{{ route.route_id }}">
				{{ route.name }}
			</a>
			<span class="travel-time"></span>
		</li>
	{% endfor %}
	<button type="button" id="compare" data-routes="{{ routes }}">Compare Travel Times</button>
</ul>

{% endblock %}
