{% extends "map_base.html" %}

{% block head %}
	{# connecting to map css #}
	<link rel="stylesheet" href="/static/css/map.css"/>
{% endblock %}

{% block side %}

<div class="sidebar">
	Welcome!
{# TODO: link user info! #}
  <a href="/user-info">User Info</a>
  <a href="/users-routes">Routes</a>
  <a href="/log-out">Log Out</a>
</div>

{% endblock %}

{% block routeinfo %}
	{% if route %}
		{# need loop to go through segments #}
		{% for segment in seg_info %}
			{{ segment }}
			Distance: {{ seg_info[segment]['distance']['text'] }}
			Duration: {{ seg_info[segment]['duration']['text'] }}
			{# also have access to fare if transit! #}
{# 			{% if seg_info[segment]['fare'] %}
				Fare: {{ seg_info[segment]['fare']}}
			{% endif %} #}
		{% endfor %}
	{% endif %}
{% endblock %}