{% extends "map_base.html" %}

{% block head %}
	{# connecting to map css #}
	<link rel="stylesheet" href="/static/css/map.css"/>
{% endblock %}

{% block side %}
<div class="container-fluid">
    <div class="row">
        <div class="col">
			<div class="sidebar">
				<h1>Roam</h1>
				{# TODO: link user info! #}
				  <a href="/user-info">User Info</a>
				  <a href="/log-out">Log Out</a>
				  <h4>Saved Routes</h4>
					<ul>
						{% for route in routes %}
							<li>
								{# setting data to route-id and passing it when clicked #}
								<a class="route" data-route-id="{{ route.route_id }}">
									{{ route.name }}
								</a>
								<span id="travel-time-{{ route.route_id }}"></span>
							</li>
						{% endfor %}

						<button type="button" id="compare" data-routes="{{ routes }}">Compare Travel Times</button>
					</ul>
				</div>
		</div>
	</div>
</div>
{% endblock %}
