{% extends 'base.html' %}

{# Loading Google Maps API #}
{% block maphead %}
	{# connecting to map_base.css #}
	<link rel="stylesheet" href="/static/css/map_base.css"/>
	{# connecting to map_base.js #}
	<script src="/static/js/map_base.js"></script>
	{# initializing map and added places library#}
	<script
		async defer
		src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB8cOt4MhRxcvoSKJC7M0XaXCvYFPyhCMQ&libraries=places&callback=initMap">
	</script>
{% endblock %}

{% block map %}

{# Title  #}
<h1>Roam</h1>

{# Search bar for address #}
{# will float on top of map #}
<section id="save-route">
	<form class="save_route" action="/save_route" method="POST">
		{# route name #}
		<input name="name" type="text" placeholder="Route name"><br>
		{# start location #}
		<input name="start" type="text" placeholder="Search start"><br>
		{# end location #}
		<input name="stop" type="text" placeholder="Search stop"> 
		<select name="mode">
			<option value="drive">Driving</option> {# mode_code = drive, google takes in driving #}
			<option value="walk">Walking</option> {# mode_code = walk, google takes in walking #}
			<option value="bike">Bicycling</option> {# mode_code = bike, google takes in bicycling #}
			<option value="tran">Public Transportation</option> {# mode_code = tran, google takes in transit #}
		<input name="seg_order" type="number" min="1" placeholder="Stop order">

		{# TODO: INCLUDE BUTTON TO ADD ANOTHER STOP + MODE #}
		<input type="submit">
	</form>
</section>

{# will render map #}
<section id="map">
	<div class="map"></div>
</section>
{% endblock %}