{# dynamic forms using AJAX and JS #}
{% extends 'base.html' %}

{% block content %}

	{# connecting to map_form.js #}
	<script src="/static/js/map_form.js"></script>
	{# Title  #}
	<h1>Roam</h1>

	{# Search bar for address #}
	{# TODO: will float on top of map #}
	<section id="save-route">
		<form class="save_route" action="/save_route" method="POST">
			{# route name #}
			<input id="name" type="text" placeholder="Route name"><br>
			{# start location #}
			<input id="start" type="text"placeholder="Search start"><br>
			{# stop location #}

			{# list of stops #}
			<ul id='stop_list'>
				<li>
					<input name="stop" type="text" id="stop" class="stop_address"placeholder="Search stop">

					<select id="mode_stop" class="mode_stop">
						<option value="driving">Driving</option> {# google takes in driving #}
						<option value="walking">Walking</option> {# google takes in walking #}
						<option value="bicycling">Bicycling</option> {# google takes in bicycling #}
						<option value="transit">Public Transportation</option> {# google takes in transit #}
					</select>
					<input id="seg_order_stop" type="number" class="stop_order" min="1" placeholder="Stop order">

					<span id="distance"></span>

					<span id="duration"></span>

					<span id="eta"></span>

					{% if not route %}
					{# button to add stops #}
					<button type='button' id='add_stop'>+</button>
				</li>
			</ul>
			<br>

			<input id="submit" type="submit">
			{% endif %}
			{# TODO: might have duplicates if hit submit. Check later #}
		</form>
	</section>
{% endblock%}

{# Loading Google Maps API #}
{% block maphead %}
	{# connecting to map_base.css #}
	<link rel="stylesheet" href="/static/css/map_base.css"/>
	{# connecting to map_base.js #}
	<script src="/static/js/map_base.js"></script>
	{# initializing map and added places library#}
	<script
		async defer
		src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB8cOt4MhRxcvoSKJC7M0XaXCvYFPyhCMQ&libraries=places&callback=initMap">
	</script>
{% endblock %}


{% block map %}
	{# will render map #}
	<section id="map">
		<div class="map"></div>
	</section>
{% endblock %}

