{% extends 'base.html' %}
{% block content %}

<h1>Registration Page</h1>

<form action='/register' method='POST'>
	Please add your information below!<br>
	Email address:<input type='text' name='email'<br>
	Password:<input type='text' name='password'><br><br>

	<!-- TODO: in server, need to include + in front of all the numbers -->
	Please include: a plus symbol(+), the country code, the area code, and the phone number without any spaces.
	Cellphone number:<input type='text' name='phone'><br><br>

	<input type='submit'>


</form>

{% endblock %}