{% extends 'base.html' %}

{% block content %}

{# for each route in routes list #}
{% for route in routes %}
    <table  border="5">
        <tr>
            <th colspan="2">
            {# pass in route name #}
                <h3><a href="/map/{{ route.route_id }}">{{ route.name.title() }}</a></h3>
            </th>
        </tr>
        <tr>
            <th>Address</th>
            <th>Mode of Transportation</th>
            <th>Stop order</th>
        </tr>
        <tr> 
            <td>{{ route.start_address }}</td>
        </tr>
        {% for segment in route.segments %}
            <tr>
                <td>{{ segment.stop_address }}</td>
                <td>{{ segment.mode.mode }}</td>
                <td>{{ segment.order_num }}</td>
            </tr>
        {% endfor %}
    </table>

{% endfor %}

{% endblock %}