{% extends 'base.html' %}

{% block content %}

{# for each route in routes list #}
{% for route in routes %}
    <table  border="5">
        <tr>
            <th colspan="2">
            {# pass in route name #}
                <h3><a href="/map">{{ route.name.title() }}</a></h3>
            </th>
        </tr>
        <tr>
            <th>Address</th>
            <th>Mode of Transportation</th>
            <th>Stop order</th>
        </tr>
        <tr> 
            <td>{{ route.start_address }}</td>
        </tr>
        {% for segment in route.segments %}
            <tr>
                <td>{{ segment.stop_address }}</td>
                <td>{{ segment.mode.mode }}</td>
                <td>{{ segment.order_num }}</td>
            </tr>
        {% endfor %}
    </table>

{% endfor %}

{% endblock %}

{# python route for users to see routes tables #}
{# @app.route('/users-routes')
def users_routes():
    """Show all the saved routes."""

    # joining routes, segments, and mode tables for specified user
    # reduces the number of queries
    # user_obj has access to all route info!
    user_obj = User.query\
                   .options(db.joinedload('routes')
                              .joinedload('segments')
                              .joinedload('mode'))\
                   .get(session['user_id'])

    # LIST OF ROUTES!! 
    # a user can have many routes 
    route_list = user_obj.routes


    return render_template('users-routes.html', user=user_obj, routes=route_list) #}